@{
    ViewBag.Title = "About";
}

<style>

    .row-alt {

  background: #cbe2c1;
   background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
   color: #648880;
}

</style>

<div class="row row-alt">
    <div class="col-md-12">

        <h1 class="text-center">Zašto da izaberete nas?</h1>
        <p class="text-center">Najpouzdaniji sajt za delove vašeg automobila. Uvek tačni sa isporukom, zagarantovan kvalitet delova.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://freedesignfile.com/upload/2016/03/Auto-parts-maintenance-vector-template.jpg">
            <h2 class="featurette-heading">
                Najjkvalitetniji auto-delovi

            </h2>
            <p class="lead">Najveća online baza auto-delova u Srbiji. Lako i brzo pronađite željeni deo, napravite narudžbinu, a na nama je sve ostalo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://www.gfxtr.com/uploads/posts/2015-09/1441811082_vector-basket-with-car-spares-.jpg">
            <h2 class="featurette-heading">
                Najbrža isporuka delova

            </h2>
            <p class="lead">Napravite nalog na našem sajtu za samo par trenutaka sa ispravnim podacima o sebi, a naša kurirska služba će vam u najkraćem roku dostaviti deo na vašu kućnu adresu.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://www.ukretailrecruitment.com/wp-content/uploads/2010/09/commercial.jpg">
            <h2 class="featurette-heading">
                Zaštita potrošača

            </h2>
            <p class="lead">Za svaki neispravan auto-deo , ili auto-deo oštećen prilikom dostave, svakom našem kupcu je omogućena reklamacija. Ostavite žalbu na našem forumu, ili nas kontaktirajte na naš telefon, a mi ćemo rešiti problem što je brže moguće.</p>
        </div>

        <hr class="featurette-divider">


    </div>
</div>



